.pnp.*
.yarn/*
!.yarn/patches
!.yarn/versions

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

*.tsbuildinfo

*.log*
*.iml

.DS_Store
.changelog
.idea/
.yarn-cache/

coverage/
dist/
docs/src/componentInfo
docs/src/componentMenu.json
docs/src/exampleSources.json
docs/src/exampleMenus
docs/dist/
node_modules/
tmp/
